.carousel-wrapper {
  margin-top: 120px; /* Augmenté pour créer de l'espace avec la navbar */
  width: 100%;
  overflow: hidden;
  display: flex; /* Utiliser flexbox pour centrer */
  justify-content: center; /* Centrer horizontalement */
}

.carousel {
  width: 80vw; /* Largeur du carrousel */
  height: 400px; /* Hauteur fixe du carrousel */
  position: relative;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

/* Ajustement pour les écrans mobiles */
@media (max-width: 768px) {
  .carousel-wrapper {
    margin-top: 100px; /* Ajusté pour les écrans mobiles */
  }
}